<div>
    <button class=@CssClassStyle @onclick="@(() => MyCallback.InvokeAsync(true))">
        <!--@ButtonText-->
        <img src=@ImagePath class=@CssClassStyle>
        <!--<img src="http://thinkingstiff.com/images/matt.jpg" > -->
    </button>
</div>


@code {

    [Parameter]
    public string CssClassStyle { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback<bool> MyCallback { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

}



