<div>
    <button class=@CssClassStyle @onclick="@(() => MyCallback.InvokeAsync(true))">
        @ButtonText
    </button>
</div>


@code { 

    [Parameter]
    public string CssClassStyle { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback<bool> MyCallback { get; set; }

    //public void UpdateState()
    //{
    //    InvokeAsync(StateHasChanged);
    //}


}

