
<div class=@CssClassStyle>
    @*<label for="filter"></label>*@

    <select class=@CssClassStyle @onclick="@(() => MyCallback.InvokeAsync(CurrentValue))"
            @bind="@CurrentValue">

        <option class=@CssClassStyle value="None">None</option>
        <option class=@CssClassStyle value="Motion">Motion</option>

    </select>
</div>

@code {

    [Parameter]
    public string CssClassStyle { get; set; }
    [Parameter]
    public string Cssdropdown { get; set; }
    [Parameter]
    public string Cssdropbtn { get; set; }
    [Parameter]
    public string CssdropdownContent { get; set; }


    [Parameter]
    public string CurrentValue { get; set; } = "None";

    [Parameter]
    public EventCallback<string> MyCallback { get; set; }

}
