
<label for="filter"></label>

<select id="filter" @onclick="@(() => MyCallback.InvokeAsync(CurrentValue))"
        @bind="@CurrentValue">

    <option value="None">None</option>
    <option value="Motion">Motion</option>

</select>


@code {

    [Parameter]
    public string Cssdropdown { get; set; }
    [Parameter]
    public string Cssdropbtn { get; set; }
    [Parameter]
    public string CssdropdownContent { get; set; }
    [Parameter]
    public string CurrentValue { get; set; } = "None";

    [Parameter]
    public EventCallback<string> MyCallback { get; set; }

}
