

<div >
    <img src="@PicturePathString" class="@CssClassStyle">
</div>


@code {
    [Parameter]
    public string CssClassStyle { get; set; }
    [Parameter]
    public string PicturePathString { get; set; }

    public void UpdateState()
    {
        InvokeAsync(StateHasChanged);
        Debug.WriteLine($"UpdateState körs i ImgSrcComponent ");
    }

}


