<div class="@CssClassStyle">
    <p>@ParagraphString </p>
</div>

@code {
    [Parameter]
    public string CssClassStyle { get; set; }
    public string CurrentPictureNumber { get; set; }
    public string TotalPictureNumber { get; set; }
    public string ParagraphString { get; private set; }

    public void UpdateState()
    {
        ParagraphString = CurrentPictureNumber + "/" + TotalPictureNumber;
        InvokeAsync(StateHasChanged);
    }
}