<div>
    <input 
           type="range"
           id="points"
           min="@MinValue"
           max="@MaxValue"
           step="1"
           class="@CssClassStyle"
           @bind-value="CurrentValue"
           @onclick="OnInput"
           />
</div>

@code {
    [Parameter]
    public Action ActionEventCallback { get; set; } //Input här kopplas till detta Event.
    [Parameter]
    public string CssClassStyle { get; set; }
    [Parameter]
    public int MinValue { get; set; }
    [Parameter]
    public int MaxValue { get; set; }
    public int CurrentValue { get; set; }

    private void OnInput()
    {
        //Debug.WriteLine($"In RangeSliderComponent: OnInput : CurrentValue = {CurrentValue}");
        ActionEventCallback.Invoke();
    }
}
