@using System.Diagnostics
@using Application.Models


<span class="@CssClassStyle">
    @if (TreeNodes != null)
    {
        @foreach (TreeNode treeNode in TreeNodes)
        {
            @if (treeNode.ToRenderInMarkup)
            {
                @for (int i = 0; i < treeNode.Level; i++)
                {
                    <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                }
                <button class="@CssClassStyle" @onclick="@(() => MyCallback.InvokeAsync(treeNode))">
                    @if (treeNode.Level != 3)
                    {
                        @if (treeNode.PleaseExpand)
                        {
                            <span>&#8744  </span>
                        }
                        else
                        {
                            <span>>  </span>
                        }
                    }
                    @treeNode.Name.Split('_').Last()
                </button>
                <br />
            }
        }
    }
</span>

@code {
    [Parameter]
    public string CssClassStyle { get; set; }
    public List<TreeNode> TreeNodes { get; set; }
    [Parameter]
    public EventCallback<TreeNode> MyCallback { get; set; }
    public void UpdateState()
    {
        InvokeAsync(StateHasChanged);
    }
}
