@page "/"
@inject NavigationManager NavManager


<h1>Hello, friend. I hope you have been redirected to /PresentationPage </h1>

@code
 { 

    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("PresentationPage");
    }

}

